/* .table-root .MuiTableCell-head {
    text-align: left;
  } */
  th.MuiTableCell-root.MuiTableCell-head.MuiTableCell-sizeMedium.tss-10syd3x-MUIDataTableHeadCell-root.tss-gm6zfk-MUIDataTableHeadCell-fixedHeader.css-1ygcj2i-MuiTableCell-root {
    padding-left: 0;
}

p#\:rb\: {
    margin-bottom: 2px;
}

p.MuiTablePagination-displayedRows.css-levciy-MuiTablePagination-displayedRows {
    margin-bottom: 0;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.css-sghohy-MuiButtonBase-root-MuiButton-root{
    margin: 1% 0;
    height: 42px;
}

.delete-btn {
    width: 30px;
    border: none;
    height: 30px;
    align-items: center;
    background-color: rgb(235, 75, 75);
    border-radius: 4px;
    padding: 0;
}

.delete-icon{
    width: 20px;
    height: 20px;
    color: #fff;
}
