

.phnClass{
    display: flex;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(44, 56, 74, 0.95);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #b1b7c1;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.phnClass input{
    border: none;
    outline: none;
}

.phnClass input:focus{
    outline: none;
}